[program:tempwatch]
command=PATH2SCRIPTS/temp_logger.py
autostart=true
autorestart=true
startretries=3
stderr_logfile=/var/log/isotempservice.log
stdout_logfile=/var/log/isotempservice.log
environment=ISOTEMPSENSORPATH='FILLMEIN',ISOTEMPBTMMAC='not_applicable',ISOTEMPDATADIR='FILLMEIN',ISOTEMPBTS='False'
;user=www-data


[program:tempbtwatch]
command=PATH2SCRIPTS/temp_recbt_logger.py
autostart=true
autorestart=true
startretries=3
stderr_logfile=/var/log/isotempbtservice.log
stdout_logfile=/var/log/isotempbtservice.log
environment=ISOTEMPDATADIR='FILLMEIN',ISOTEMPBTMMAC='FILLMEIN'
;user=www-data


